<p id="notice"><%= notice %></p>

<p>
  <b>Liking user:</b>
  <%= @favorite.liking_user %>
</p>

<p>
  <b>Liked user:</b>
  <%= @favorite.liked_user %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
