<h1>Visible Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Age</th>
    <th>Orientation</th>
    <th>Religion</th>
    <th>Gender</th>
    <th>Profile</th>
    <th>Hobbies</th>
    <th>Event location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @joined_users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.age %></td>
    <td><%= user.orientation %></td>
    <td><%= user.religion %></td>
    <td><%= user.gender %></td>
    <td><%= user.profile %></td>
    <td><%= user.hobbies %></td>
    <% event = Event.find(user.event_id) %>
    <td><%= link_to event.location.name, event_path(event) %></td>
</tr>
<% end %>
</table>

<br />
