<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Age</th>
    <th>Orientation</th>
    <th>Religion</th>
    <th>Gender</th>
    <th>Profile</th>
    <th>Hobbies</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visible.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.age %></td>
    <td><%= user.orientation %></td>
    <td><%= user.religion %></td>
    <td><%= user.gender %></td>
    <td><%= user.profile %></td>
    <td><%= user.hobbies %></td>
    <td><%= user.event_id %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
