<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Orientation:</b>
  <%= @user.orientation %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Profile:</b>
  <%= @user.profile %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @user.hobbies %>
</p>

<p>
  <b>Event:</b>
  <%= @event_id %>
</p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
<!--   <%= image_tag @user.avatar.url %>
  <%= image_tag @user.avatar.url(:thumb) %> -->
</p>

<% if @is_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>