<h1>Listing events</h1>

<table class="table">
  <tr>
    <th>Event Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_date %></td>
    <td><%= event.location.name %></td>
    <td><%= link_to 'Show', event %></td>
    <% if !session[:user_id].nil? %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Check-in', check_ins_path(event.id), :method => :post  %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if !session[:user_id].nil? %> 
  <button class="btn btn-large" type="button"><%= link_to 'New Event', new_event_path %></button>
<% end %>
