<h1>Listing events</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <!-- Update the time to reflect the timezone of the location or CST -->
    <!-- strftime("%A, %b %Y at %l:%M%P") -->
    <!-- TODO helper method for signed_in? -->
    <td><%= event.start %></td>
    <td><%= event.end %></td>
    <td><%= event.location.name %></td>
    <td><%= link_to 'Show', event %></td>
    <% if !session[:user_id].nil? %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Check-in', check_ins_path(event.id), :method => :post  %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if !session[:user_id].nil? %> 
  <%= link_to 'New Event', new_event_path %>
<% end %>
