<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @event.location.name, location_path(@event.location) %>
</p>

<p>
  <% if !@user.nil? && @user.visible == false && @user.event_id == @event.id %>
    <%= "You are checked into this event, but no one can see you." %>
  <% end %>
</p>
<p>
  <b>Check-ins:</b>
  <% @users_checked_in.each do |user| %>
    <ul>
      <%= link_to image_tag(user.avatar.url(:thumb)), user_path(user) %>
      <% if female? %>
        <%= link_to "Let him see me", make_visible_path(user.id), :method => :post %>
      <% end %>
    </ul>
  <% end %>
</p>

<% if @can_check_out %>
  <%= link_to "Check out", check_out_path %>
<% elsif @can_check_in %>
  <%= link_to 'Check-in', check_ins_path(@event.id), :method => :post  %>
<% end %>


<%= link_to 'Back', events_path %>
