<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location.name %>
</p>

 <p>
    <b>Check-ins:</b>
    <% @check_ins.each do |check_in| %>
      <ul>
        <%= link_to image_tag(check_in.avatar.url(:thumb)), user_path(check_in) %>
      </ul>
    <% end %>
 </p> 

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
